<footer class="footer footer-expand-lg bg-body-tertiary py-3 mt-auto" data-bs-theme="dark">
    <div class="container">
        <span class="text-muted">&copy; Pantry2Plate 2023</span>
    </div>
</footer>