<% layout('layouts/boilerplate')%>

    <form action="/recipes" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="recipe[name]">
        </div>
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="recipe[title]">
        </div>
        <button>Add Recipe</button>
    </form>
    <a href="/recipes">All Recipes</a>